* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #110E17;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button:focus {
  border: none;
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  border: none;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

li {
  list-style: none;
  display: inline-block;
}

.top-section .container ul li {
  display: inline-block;
  margin: 20px;
}
.top-section .container ul li i {
  width: 60px;
  height: 60px;
  text-align: center;
  color: #333;
  border-radius: 50%;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  cursor: pointer;
  color: #fff;
}
.top-section .container ul li .fa-facebook, .top-section .container ul li .fa-telegram {
  border: 1px solid blue;
}
.top-section .container ul li .fa-facebook:hover, .top-section .container ul li .fa-telegram:hover {
  background-color: blue;
  border: 1px solid blue;
}
.top-section .container ul li .fa-telegram {
  border: 1px solid #0088cc;
}
.top-section .container ul li .fa-telegram:hover {
  background-color: #0088cc;
  border: 1px solid #0088cc;
}
.top-section .container ul li .fa-youtube {
  border: 1px solid #ff3300;
}
.top-section .container ul li .fa-youtube:hover {
  background-color: #ff3300;
}
.top-section .container ul li .fa-instagram {
  border: 1px solid #d116d1;
}
.top-section .container ul li .fa-instagram:hover {
  background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
}
.top-section .container ul li .fa-whatsapp {
  border: 1px solid #16cc10;
}
.top-section .container ul li .fa-whatsapp:hover {
  background-color: #16cc10;
}
@media (max-width: 767px) {
  .top-section .container ul li {
    margin: 15px;
  }
  .top-section .container ul li i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
}

.top-nav {
  width: 100%;
  height: 50px;
  background-color: #960AFE;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-nav .login h5 {
  color: #ddd;
  display: inline;
  margin-left: 20px;
}
.top-nav .login h5 a {
  color: #ddd;
}
.top-nav .contact p {
  color: #ddd;
  display: inline;
  font-size: 18px;
  margin-right: 20px;
}
.top-nav .contact ul {
  display: inline;
}
.top-nav .contact ul li {
  display: inline;
  width: 20px;
  height: 20px;
  color: #fff;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .top-nav {
    display: none;
  }
}

header.navbar {
  background-color: rgba(42, 48, 60, 0.9);
  width: 100%;
  height: 70px;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  header.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
header.navbar .container {
  color: #fff;
}
header.navbar .container .logo h3 {
  color: #fff;
  font-size: 26px;
}
header.navbar .container .logo h3::first-letter {
  font-size: 33px;
  color: #960AFE;
}
@media (max-width: 767px) {
  header.navbar .container .logo h3 {
    font-size: 16px;
  }
}
header.navbar .container .form form .search {
  position: relative;
}
header.navbar .container .form form .search input[type=text] {
  width: 500px;
  padding: 4px 20px;
  background-color: #2A303C;
  color: #fff;
  border: 1px solid #960AFE;
  border-radius: 4px;
}
header.navbar .container .form form .search i {
  position: absolute;
  color: #960AFE;
  top: 8px;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 767px) {
  header.navbar .container .form form .search input[type=text] {
    width: 200px;
    margin-top: 3px;
  }
  header.navbar .container .form form .search i {
    position: absolute;
    color: #960AFE;
    top: 11px;
  }
}
@media (min-width: 767px) {
  header.navbar .container .form form .search input[type=text] {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  header.navbar .container .form form .search input[type=text] {
    width: 500px;
  }
}
header.navbar .container .sidebar-btn .btn {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: none;
}
header.navbar .container .sidebar-btn .btn span {
  position: relative;
  display: block;
  width: 35px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.navbar .container .sidebar-btn .btn span:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.navbar .container .sidebar-btn .btn span:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.navbar .container .sidebar-btn .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
header.navbar .container .sidebar-btn .btn.toggle span {
  background: transparent;
}
header.navbar .container .sidebar-btn .btn.toggle span::before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
header.navbar .container .sidebar-btn .btn.toggle span::after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 767px) {
  header.navbar .container .sidebar-btn .btn {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: none;
    margin-right: 5px;
  }
  header.navbar .container .sidebar-btn .btn span {
    width: 25px;
  }
}
header.navbar .side-bar {
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 50px;
  left: -350px;
  background-color: rgba(42, 48, 60, 0.9);
  width: 250px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
header.navbar .side-bar .account {
  margin: 10px;
  margin-bottom: 0;
}
header.navbar .side-bar .account img {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}
header.navbar .side-bar .account i {
  font-size: 22px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.navbar .side-bar .account i:hover {
  color: #960AFE;
}
header.navbar .side-bar h3 {
  color: #fff;
  margin-top: -5px;
  margin-bottom: 15px;
  font-size: 20px;
  margin-left: 18px;
}
header.navbar .side-bar div.nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  margin-bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header.navbar .side-bar div.nav .item h5 {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 0;
}
header.navbar .side-bar div.nav .item p {
  margin: 0;
}
header.navbar .side-bar div.nav .item i {
  color: #fff;
  font-size: 16px;
}
header.navbar .side-bar div.nav .item:nth-child(3) {
  border-bottom: 1px solid #ddd;
}
header.navbar .side-bar div.nav .item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
header.navbar .side-bar div.nav .item:hover {
  background-color: #960AFE;
}
header.navbar .side-bar div.nav .item:hover h5, header.navbar .side-bar div.nav .item:hover i {
  color: #fff;
}
header.navbar .side-bar div.nav .item.active {
  background-color: #960AFE;
}
header.navbar .side-bar div.nav .item.active h5, header.navbar .side-bar div.nav .item.active i {
  color: #fff;
}
header.navbar .active {
  left: 0;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-tow {
  position: fixed;
  top: 70px;
  left: -350px;
}

section.contact .container {
  width: 100%;
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.contact .container .form {
  width: 60%;
}
section.contact .container .form label {
  display: block;
  color: #fff;
}
section.contact .container .form input {
  display: block;
  padding: 10px;
  width: 80%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #960AFE;
  background-color: #110E17;
  color: #fff;
}
section.contact .container .form textarea {
  resize: none;
  width: 80%;
  padding: 10px;
  color: #fff;
  background-color: #110E17;
  border: none;
  border-bottom: 2px solid #960AFE;
  display: block;
}
section.contact .container .form button {
  padding: 10px 50px;
  text-align: center;
  border: 2px solid #960AFE;
  background-color: #110E17;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
section.contact .container .text {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.contact .container .text .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}
section.contact .container .text .txt h1 {
  margin-right: 50px;
  color: #fff;
}
section.contact .container .text .txt h1:first-child {
  position: relative;
}
section.contact .container .text .txt h1:first-child::before {
  position: absolute;
  content: "";
  top: 55%;
  left: 140px;
  height: 4px;
  border-radius: 10px;
  width: 80px;
  background-color: #960AFE;
}
section.contact .container .text .txt h1:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}
section.contact .container .text .txt h1:last-child:after {
  position: absolute;
  content: "";
  top: 50%;
  left: -210px;
  height: 4px;
  border-radius: 10px;
  width: 210px;
  background-color: #960AFE;
}
section.contact .container .text p {
  color: #ddd;
}
section.contact .container .text ul li {
  margin-right: 20px;
  color: #fff;
  font-size: 26px;
}
@media (max-width: 878px) {
  section.contact .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contact .container .form {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  section.contact .container .form input {
    width: 100%;
  }
  section.contact .container .text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contact .container .text .txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
  }
  section.contact .container .text .txt h1 {
    margin-right: 50px;
    color: #fff;
  }
  section.contact .container .text .txt h1:first-child {
    position: relative;
  }
  section.contact .container .text .txt h1:first-child::before {
    position: absolute;
    content: "";
    top: 55%;
    left: 140px;
    height: 4px;
    border-radius: 10px;
    width: 80px;
    background-color: #960AFE;
  }
  section.contact .container .text .txt h1:last-child {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: relative;
  }
  section.contact .container .text .txt h1:last-child:after {
    position: absolute;
    content: "";
    top: 50%;
    left: -210px;
    height: 4px;
    border-radius: 10px;
    width: 210px;
    background-color: #960AFE;
  }
  section.contact .container .text p {
    color: #ddd;
  }
  section.contact .container .text ul li {
    margin-right: 20px;
    color: #fff;
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  footer h6 {
    font-size: 14px;
  }
}