.container{
    width: 100%;
    height: 100vh;
    h3{
        text-align: center;
    }
    .form{
        width: 500px;
        label{
            display: block;
            margin-bottom: 10px;
            color: #fff;
        }
        input{
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            background-color: $color-one;
            border: 1px solid $color-three;
            color: #fff;
        }
        .account{
            .text{
                h5{
                    color: #fff;
                    font-size: 13px;
                }
            }
            .pass{
                h5{
                    font-size: 13px;
                    color: #fff;
                }
            }
        }

        .or{
            width: 100%;
            h3{
                color: #fff;
                margin-top: 30px;
                margin-bottom: 10px;
                position: relative;
                z-index: 999;
                background-color: $color-one;
                &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 13px;
                    left: 0;
                    background-color: $color-three;
                    z-index: -1;
                }
            }
        }

        nav{
            margin-top: 20px;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    text-align: center;
                    margin-right: 20px;
                    cursor: pointer;
                    a{
                        color: #fff;
                        font-size: 20px;
                    }
                    &:nth-child(1){
                        background-color: blue;
                        border: 1px solid blue;
                        box-shadow: 0 0 30px 0 rgba(0,0,255,0.5);
                    }
                    &:nth-child(2){
                        background-color: purple;
                        border: 1px solid purple;
                        box-shadow: 0 0 30px 0 rgba(191, 0, 255, 0.5);
                    }
                    &:nth-child(3){
                        background-color: rgb(0, 145, 255);
                        border: 1px solid rgb(0, 145, 255);
                        box-shadow: 0 0 30px 0 rgba(0, 145, 255, 0.5);
                    }
                }
            }
        }

    }

 

}