section.contact{
    .container{
        width: 100%;
        height: calc(100vh - 120px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .form{
            width: 60%;
            label{
                display: block;
                color: #fff;
            }
            input{
                display: block;
                padding: 10px;
                width: 80%;
                margin-bottom: 10px;
                border: none;
                border-bottom: 2px solid $color-three;
                background-color: $color-one;
                color: #fff;
            }
    
            textarea{
                resize: none;
                width: 80%;
                padding: 10px;
                color: #fff;
                background-color: $color-one;
                border: none;
                border-bottom: 2px solid $color-three;
                display: block;
            }
            button{
                padding: 10px 50px;
                text-align: center;
                border: 2px solid $color-three;
                background-color: $color-one;
                color: #fff;
                border-radius: 5px;
                margin-top: 10px;
            }
        }
        .text{
            width: 40%;
            display: flex;
            flex-direction: column;
            .txt{
                display: flex;
                flex-direction: column;
                width: 70%;
                h1{
                    margin-right: 50px;
                    color: #fff;
                }
                h1:first-child{
                    position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        top: 55%;
                        left: 140px;
                        height: 4px;
                        border-radius: 10px;
                        width: 80px;
                        background-color: $color-three;
                    }
                }
                h1:last-child{
                    align-self: flex-end;
                    position: relative;
                    &:after{
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: -210px;
                        height: 4px;
                        border-radius: 10px;
                        width: 210px;
                        background-color: $color-three;
                    }
                }
            }
            
            p{
                color: #ddd;
    
            }
            ul{
                li{
                    margin-right: 20px;
                    color: #fff;
                    font-size: 26px;
                }
            }
        }
       
    }
    @media(max-width: 878px){
        .container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form{
                width: 100%;
                margin-top: 40px;
                margin-bottom: 40px;
                input{
                    width: 100%;
                }

            }
            .text{
                width: 100%;
                display: flex;
                flex-direction: column;
                .txt{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    h1{
                        margin-right: 50px;
                        color: #fff;
                    }
                    h1:first-child{
                        position: relative;
                        &::before{
                            position: absolute;
                            content: "";
                            top: 55%;
                            left: 140px;
                            height: 4px;
                            border-radius: 10px;
                            width: 80px;
                            background-color: $color-three;
                        }
                    }
                    h1:last-child{
                        align-self: flex-end;
                        position: relative;
                        &:after{
                            position: absolute;
                            content: "";
                            top: 50%;
                            left: -210px;
                            height: 4px;
                            border-radius: 10px;
                            width: 210px;
                            background-color: $color-three;
                        }
                    }
                }
                
                p{
                    color: #ddd;
        
                }
                ul{
                    li{
                        margin-right: 20px;
                        color: #fff;
                        font-size: 26px;
                    }
                }
            }
        }
    }
}